* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(51, 51, 61);
  flex-direction: column;
}

.header {
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.page-title {
  font-size: 50px;
}

.header p {
  font-size: 30px;
}
.main-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.color-btn-container {
  display: flex;
  justify-content: flex;
  margin: 20px;
}

.preset-colors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.preset-colors button {
  border-radius: 8px;
}

.page-title,
p,
label,
legend {
  color: whitesmoke;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid black;
  border-radius: 12px;
}

.square,
.preset-colors button {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.current-color-p {
  color: white;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.current-color {
  color: black;
  background-color: bisque;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 20px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px;
}

.action-buttons button {
  padding: 15px;
  border-radius: 12px;
  font-size: 15px;
  color: whitesmoke;
  background-color: rgb(22, 150, 255);
  border: 2px solid whitesmoke;
}

.mode-selector-container,
fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
  margin-top: auto;
  gap: 6px;
}

legend {
  padding: 0px 5px;
}
